* {
    font-family: 'Basic Latin', sans-serif;
}


img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

:root {
    --primary-color: #232323;
    --secondary-color: #2ecc71;
    --accent-color: #F6BF39;
    --background-color: #ffffff;
    --card-color: #E7E7E7;
    --text-color: #242424;
    --confirm-color: #05ff6dac;
    --cancel-color: #FF6F63;
}


body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

#language_selection {
    position: fixed;
    top: 2.5%;
    right: min(4em,4vw);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: min(1em,1vw);
}

.flag {
    width: min(2em,3vw);
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s;
}

.flag:hover {
    opacity: 1;
    transition: 0.25s;
}

@media (max-width: 1030px) { /* Mobile Navbar */
    .menu_button {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 2.5%;
        left: min(4em,4vw);
        width: 4rem;
        height: 4rem;
        font-size: 2em;
        padding: 0;
        z-index: 2;
        cursor: pointer;
        background-color: var(--background-color);
        border-radius: 100%;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        border: 1px solid var(--card-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu_button div{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
        rotate: 90deg;
    }

    .menu_button:hover div {
        rotate: 270deg;
        transition: 0.25s;
    }

    header {
        display: none;
        flex-direction: column;
        position: fixed;
        background-color: var(--card-color);
        height: 100%;
        min-height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 1;
        align-items: center;
        justify-content: start;
        overflow-y: auto;
    }

    .header_visible {
        display: flex !important;
    }

    header h1 a {
        font-size: 2em;
        color: var(--text-color);
        text-decoration: none;
        text-align: center;
    }

    header h1 {
        padding-top: 10vh;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    header p {
        font-size: 1.25em;
        margin-bottom: 5em;
    }

    .dropdown {
        margin-bottom: 2em;
        width: 60vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    .title {
        font-size: 2.5em;
        font-weight: 700;
        color: var(--text-color);
        text-decoration: none;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        padding-left: auto;
        padding-right: auto;
    }

    .title:hover {
        text-decoration: underline;
    }

    nav .dropdown:last-child {
        padding-bottom: 20vh;
    }

    .submenu {
        display: none;
        flex-direction: column;
        gap: 1em;
    }

    .submenu_visible {
        display: flex !important;
    }

    .submenu a {
        font-size: 2.5em;
        font-weight: 500;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.25;
        color: var(--text-color);
        text-decoration: none;
        white-space: nowrap;
    }

    body {
        padding-top: 5em;
    }
}

@media (min-width: 1030px) { /* Desktop Navbar */
    .menu_button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: var(--text-color);
    }

    header h1 {
        margin-bottom: 0;
        padding: 0;
    }

    header h1 a {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 0;
        text-decoration: none;
        color: var(--text-color);
        padding: 0;
        text-align: center;
    }

    header p {
        font-size: 1em;
        font-weight: 300;
        margin: 0;
    }

    header nav {
        display: flex;
        justify-content: center;
        height: auto;
        gap: min(6em, 5vw);
        width: auto;
        background-color: var(--background-color);
        border: 1px solid var(--card-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 0.7em;
        margin-top: 0.75em;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .dropdown .title {
        border: none;
        cursor: pointer;
        font-size: min(1.5em, 1.4vw);
        font-weight: 700;
        color: var(--text-color);
        text-decoration: none;
        white-space: nowrap;
    }

    .dropdown:hover {
        text-decoration: underline;
    }

    .dropdown:hover .submenu,
    .dropdown:focus-within .submenu,
    .dropdown:active .submenu {
        display: block;
        transition: 0.25s;
    }

    .submenu{
        display: none;
        position: absolute;
        top: 70%;
        background-color: var(--background-color);
        border: 1px solid var(--card-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.5em;
        padding: 1em;
        transition: 0.25s;
        z-index: 1;
    }


    .submenu a {
        display: block;
        text-align: center;
        font-size: min(1.3em, 1.2vw);
        font-weight: 500;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.25;
        color: var(--text-color);
        text-decoration: none;
        border-radius: 0.25em;
        white-space: nowrap;
    }


    .submenu a:hover {
        background-color: var(--card-color);
    }
}


main {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}

footer p, footer a {
    color: var(--text-color);
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    margin: 20;
}

footer a:hover {
    text-decoration: underline;
}

.spacer{
    height: 10em;
}


.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--card-color);
    opacity: 0.8;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 10em;
}

.cookie-banner p {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.cookie-banner button {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.cookie-banner button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* Wiggle Animation */

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 0.3s ease-in-out;
}



/* Spinner */

.lds-ring {
    /* change color here */
    color: var(--text-color);
  }
  .lds-ring,
  .lds-ring div {
    box-sizing: border-box;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #spinner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .spinner_visible {
    display: flex;
  }

  .spinner_invisible {
    display: none;
  }