html {
    height: 100%;
}

main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    min-width: 40em;
    width: 100vw
}

h1 {
    margin-bottom: 2em;
}


@media (max-width: 1600px) {
    #orderForm {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .left-side, .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .right-side{
        justify-content: flex-start;
        background-color: var(--card-color);
        height: auto;
        overflow-x: hidden;
        padding-bottom: 2em;
    }


    .cart {
        max-height: 50vh;
        min-width: 40em;
        height: auto;
        overflow-y: scroll;
        overflow-y: hidden;
        padding-left: 5em;
        padding-right: 5em;
    }

    #bottom_note {
        margin-bottom: 20vh;
    }
}

@media (min-width: 1600px) {
    #orderForm {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        gap: 10em;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--card-color);
        width: 50%;
        height: 100%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 0.25%;
    }

    .left-side {
        padding-top: 0.25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        height: 100%;
    }

    .cart {
        max-height: 45vh;
    }
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1em;
    gap: 1em;
    min-width: 40em;
}

.form-group_download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
}

h2 {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-weight: 550;
}

.note {
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: 300;
    color: var(--text-color);
    word-break: break-word;
}

.standard_input {
    width: 100%;
    height: 3em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--card-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
    -webkit-appearance: none;
    appearance: none;
}

#additional_info {
    width: 100%;
    height: 6em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--card-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border: 2px solid transparent;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 700;
    width: 100%;
    height: 3em;
    border-radius: 0.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.25s;
}

.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: 0.25s;
}

#paypal {
    background-color: #F2BA36;
}

#wetransfer {
    background-color: #2D82E0;
}

.selected_button {
    border: 2px solid var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#submit {
    margin-top: 4em;
    background-color: var(--text-color);
    color: var(--background-color);
}


/* CART */
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: var(--text-color) var(--background-color);
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    min-width: 40em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.cart-item-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 3em;
}

.ItemRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ItemColumn {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 100%;
}

.ItemImage {
    width: auto;
    height: 7em;
    border: 1px solid #000;
}

.ItemTitle {
    font-size: 1em;
    font-weight: normal;
}

.ItemPrice {
    font-size: 0.75em;
    color: var(--text-color);
    font-weight: 100;
}

.ItemID {
    font-size: 0.75em;
    color: var(--text-color);
    font-weight: 100;
}


.item-options {
    font-size: 1em;
    width: auto;
}

.add-to-cart{
    background-color: var(--background-color);
    border: 1px solid transparent;
    color: var(--card-color);
    margin-left: auto;
    font-size: 1em;
    font-weight: 700;
    width: auto;
    height: auto;
    border-radius: 0.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.25s;
}

.add-to-cart:hover{
    background-color: var(--cancel-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
}

#subtotal {
    border-top: 2px solid var(--text-color);
    padding-top: 1em;
}