main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 2em;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 40em;
    margin-bottom: 1em;
    gap: 1em;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(60em, 60%);
}

form #items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#div_add_remove_buttons button {
    width: 2em;
    height: 2em;
}

#zip, #housenumber {
    width: 5em;
}

#city, #street {
    width: 15em;
}

#name, #prename, #email, #country {
    width: 21em;
}

#country_div {
    margin-bottom: 6em;
}

#error-message-bigger10 {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}

#submit{
    margin-top: 5em;
}

input, button, #comments {
    background-color: var(--card-color);
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
}

#comment-group {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#comments {
    width: 30em;
    height: 10em;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--text-color);
    margin-bottom: 1em;
}

.ItemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ItemTitle {
    font-size: 1em;
    font-weight: bold;
}

.ItemPrice {
    font-size: 1em;
}

.ItemID {
    font-size: 1em;
    color: var(--card-color);
    transition: 0.25s;
}

.ItemID:hover {
    color: var(--text-color);
    transition: 0.25s;
}

.item-options {
    font-size: 1em;
    margin-bottom: 2em;
    width: auto;
    margin-right: auto;
}

.add-to-cart{
    background-color: var(--card-color);
    color: var(--text-color);
    margin-left: auto;
    font-size: 0.5em;
    font-weight: 700;
    padding: 0.5em;
    border: 1px solid var(--text-color);
    border-radius: 0.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.25s;
}

.add-to-cart:hover{
    background-color: var(--cancel-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}